.footer {
  background-color: var(--aquamarine);
  display: flex;
  justify-content: center;
  width: 100%;
}

.navContainer {
  display: flex;
  flex-direction: row;
  max-width: 1140px;
  padding: 1rem;
  width: 100%;
}

.navLinks {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.logo {
  flex-grow: 1;
  cursor: pointer;
  color: black;
  text-align: left;
  font-size: 2rem;
}
.link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-left: 10px;
}
.link:hover {
  color: var(--san-marino);
  border-bottom: 1px solid var(--san-marino);
}