.container {
    background-color: var(--mindaro);
    box-shadow: none;
}
.navlinks {
    margin-left: 10px;
    display: flex;
}
.logo {
    flex-grow: 1;
    cursor: pointer;
    color: black;
    text-align: left;
}
.link {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 10px;
}
.link:hover {
    color: var(--san-marino);
    border-bottom: 1px solid var(--san-marino);
}