<div class="col-12 col-sm-6 col-md-4 py-4 text-center d-flex flex-column justify-content-between">
  <div class="my-3">
    <h4>{{ project.band }}</h4>
    {% if project %}
      {% assign categories = project.categories %}
    {% endif %}
    {% for category in categories %}
      <h6>{{category}}{% unless forloop.last %}, {% endunless %}</h6>
    {% endfor %}
  </div>
  {% if project.embed %}
    <div class="my-3">
      {{ project.embed }}
    </div>
  {% else %}
    <div class="my-3">
      <a href="{{ project.url }}">link</a>
    </div>
  {% endif %}
  <div class="my-3">
    <h5>{{ project.album }}</h5>
    <h6>{{ project.year }}</h6>
  </div>
</div>
