---
layout: default
---
<article class="{{ page.background-color }}-bg py-5">
  <div class="container my-5">
    <div class="row">
      <div class="col-12">
        <header>
          <h1 class="text-center">{{ page.title | escape }}</h1>
        </header>
      </div>
    </div>
  </div>
</article>

<article class="py-5">
  <div class="container">
    <div class="row my-5">
      <div class="mx-auto col-md-6 col-lg-3">
        <a href="/projects" class="btn btn-danger w-100">
          All
        </a>
      </div>
      {% for category in site.categories %}
        <div class="mx-auto col-3">
          <a href="/projects/{{ category.slug }}" class="btn btn-danger w-100">
            {{ category.title }}
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="row">
      {% for project in site.projects %}
        <div class="col-12 col-sm-6 col-md-4 text-center py-4">
          <h4>{{ project.band }}</h2>
            {% if project %}
              {% assign categories = project.categories %}
            {% endif %}
            {% for category in categories %}
            <h6><a href="{{site.baseurl}}/projects/{{category|slugize}}">{{category}}</a>{% unless forloop.last %}, {% endunless %}</h6>
            {% endfor %}
          <p>{{ project.content | markdownify }}</p>
          {% if project.embed %}
            {{ project.embed }}
          {% else %}
            <a href="{{ project.url }}">link</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</article>
