body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --aquamarine: #A2FAD5;
  --malibu: #6EABFA;
  --mindaro: #D8FA70;
  --copperfield: #E1826B;
  --sea-buckthorn: #FAB22A;
  --san-marino: #436899;
}